* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

.header {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.backgroundtop {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: lightblue;
}

.backgroundbot {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    background: linear-gradient(to top left, white 50%, 50%, lightblue);
    z-index: -1;
}

.aboutme {
    padding: 20px;
    position: relative;
    margin: 8%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme .portrait {    
    position: relative;
    margin: -8% 0 0 -8%;
    float: left;
    width: 50%;
}

.aboutme .portrait h1 {
    position: absolute;
    bottom: 20px;    
    width: 100%;
    font-size: 3.5vw;
    /* font-weight: lighter; */
    text-align: center;
    color:white;
    text-shadow: 3px 3px 0px black;
}

.portrait img {
    width: 95%;
    filter: brightness(75%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.aboutme .textfield h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: lighter;
}

.aboutme .textfield p{
    color: #333;
    font-family: sans-serif;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

.content {
    margin: 5% 0;
}

.content h2 {
    margin: 0 8%;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
}

.content .mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 8%;
    gap: 20px;
}

.content .card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: sans-serif;
    min-width: 280px;
}

.card img {
    width: 100%;
}

.description {
    padding: 20px;
    position: relative;
    height: 45%;
}

.footer {
    background-color: lightblue;
    height: 20vh;
    bottom: 0px;
}

@media screen and (max-width: 480px) {
    .aboutme .portrait {
        width: 100%;
        margin: 0px auto 10px;
    }

    .aboutme .portrait h1 {
        text-align: left;
        font-size: 10vw;
    }
    
    .portrait img {
        width: 100%;
    }

    h2 {
        text-align: center;
    }

}